/* 1) Create a responsive navigation bar.
2) Create a responsive video banner. */

@media(max-width:992px){
    [class*="col"]{
        width: 100%;
    }

    /* ICONS */

    .icons{
        text-align: left;
    }
    .icons>b{
        margin: auto;
    }
    /* NAVIGATION */
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float: none;
    }
    header>nav>ul>li{
        display: block;
    }
    
    /* header{
        background-color: skyblue;
        flex-flow: column;
        }
        header>nav>ul>li{
            display: block;
        }
        header>nav>ul{
            float: none;
        }
        header>nav{
            padding: 20px;
            text-align: center;
        }
        .backgroundvideo1{
            display:block;
            position: relative;
            right: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            object-fit: cover;
        }
        .backgroundvideo, .backgroundvideo2{
            display: none;
        }
        .Banner{
            display: flex;
           justify-content: center;
           align-items:center;
           color: #fff;
        } */
    }
@media(min-width:993px) and (max-width:1200px){
    .colTab1 {
        width: 8.33%;
    }
    .colTab2 {
        width: 16.66%;
    }
    .colTab3 {
        width: 25%;
    }
    .colTab4 {
        width: 33.66%;
    }
    .colTab5 {
        width: 41.66%;
    }
    .colTab6 {
        width: 50%;
    }
    .colTab7 {
        width: 58.33%;
    }
    .colTab8 {
        width: 66.66%;
    }
    .colTab9 {
        width: 75%;
    }
    .colTab10 {
        width: 83.33%;
    }
    .colTab11 {
        width: 91.66%;
    }
    .colTab12 {
        width: 100%;
    }
    
    [class*="colTab"]{
        float: left;
        padding: 10px;
    }
    /* NAVIGATION */
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float: none;
    }

    /* header{
        background-color: lightgreen;
        flex-direction: column;
        justify-content: center;
         }
         header>nav>ul{
         float: none;
        }
        header>nav{
            padding: 20px;
            text-align: center;
        }
    
        .backgroundvideo, .backgroundvideo1{
            display: none;
        }
        .backgroundvideo2{
            display: block;
            position: relative;
            right: 0;
            bottom: 0;
            z-index: -1;
            object-fit: cover;
            width: 100%;
        }
        .Banner{
            display: flex;
           justify-content: center;
           align-items:center;
           color: #fff;
        } */
    }
    